

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFF6F4;
  background-image: url(https://t4.ftcdn.net/jpg/03/17/72/47/360_F_317724775_qHtWjnT8YbRdFNIuq5PWsSYypRhOmalS.jpg);
}

h1{
  color:white
}

.content h1{
  color: black
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  cursor: pointer;
}

.workout-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
}

.workout-column {
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #525FE1;
  padding: 20px;
}

.nav-link {
  color: #fff;
  font-family: "Arial", sans-serif;
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s;
}

.nav-link:hover {
  border-color: #fff;
}

.nav-link.active {
  border-color: #fff;
  font-weight: bold;
}

.profile-card {
  background-color: #F86F03;
  border: 5px solid black;
  padding: 20px;
  margin: 50px auto;
  text-align: center;
  max-width: 600px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px gray;
}

.profile {
  font-size: 40px;
  color: black;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.subheading {
  font-size: 24px;
  color: black;
  font-family: "Arial", sans-serif;
  text-align: center;
  margin-top: 10px;
  background-color: #F86F03;
  padding: 5px 0;
  margin-bottom: 0;
  margin: 0;
}


.main {
  font-size: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #525FE1;
  border: none;
  margin: 0;
  
}

.button-main:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #525FE1;
  z-index: -1;
  border-radius: 16px;
}
.button-main {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: right;
  font-weight: bold;
  padding: 0.7em 2em;
  border: 3px solid #525FE1;
  border-radius: 200px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: #525FE1;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 0;
  width: 70%,30%;
  cursor: pointer;
}

.button-main:hover, button:focus {
  color: white;
}

.button-main:hover:before, button:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.button-main:active {
  transform: scale(0.9);
}

.button-div{
  text-transform: uppercase;
  display: center;
  display: top;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  position: relative

}

* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Modal Button */
.modalButton {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  padding: 12px 24px;
  cursor: pointer;
}


/* Modal */
.overlay {
  /* background-color: rgba(0, 0, 0, 0.5); */
  position: fixed;
  width: 100%;
  height: 100%;
}

.modalContainer {
  max-width: 600px;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: #fbf9f9;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 80px;
}


.modalRight {
  width: 100%;
}

.closeBtn {
  position: fixed;
  top: 50px;
  right: 50px;
  cursor: pointer;
}

.closeBtn:hover{
  color: #F86F03;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 3rem;
  padding: 1rem 2rem;
}

.btnContainer {
  display: flex;
  padding:10rem 1rem;
}
.btnContainer button {
  width: 100%;
  margin: .5rem;
  padding: 16px 0;
}

.btnOutline {
  /* background-color: #a76a99; */
  background-color: white;
  color: #1b2757;
}

.bold {
  font-weight: 600;
}

@media screen and (max-width: 500px) {
  .modalContainer {
    flex-direction: column;
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: 100vh;
  }

  .heading {
    margin: 1rem;
  }
}

.workout-card {
  border:3px solid black;
  padding: 10px;
  margin: 10px;
  background-color: #FFA41B;
  font-size: 20px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 5px 5px 5px gray;
}

.workout-data {
  padding-left: 10px;
}

.exercise-list li {
  padding-left: 20px;
  list-style: none;
}

.modalContainer {
  background-color: #FFF6F4;
}

.workout-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.workout-form label {
  font-weight: bold;
  margin-right: 10px
}

.workout-form div {
  margin-bottom: 20px;
}

.workout-form .btnContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.workout-form .btnOutline {
  background-color: transparent;
  border: 1px solid #525FE1;
  color: #007bff;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.browse-card {
    display: grid;
    
    grid-template-columns: repeat(3, 1fr);
    
    grid-auto-rows: auto;
    
    grid-gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2px;
    grid-area: text;
    justify-content: space-around;
    align-items: baseline;
    flex: 1 1 0px;
    
}

.menu{
  font-weight: bold;
  text-align: center;
  padding: 30px 10px;
  width: 200px;
  background-color: #F86F03;
  border: 5px solid black;
  color: #000000;
  box-shadow: 5px 5px 5px gray ;
  font-size: 16px;
  border-radius: 10px;
  margin: 20px
}

.dropdown-wrapper{
  width: 100%;
  text-align: center;
}

.dropdown{
  display: inline-block;
}

.favorite-button{
  float: right;
  border: none;
  background-color: transparent;
  font-size: xx-large;
}

.favorite-button span{
  color:#007bff
}

.favorite-button span:hover{
  text-shadow: 0 0 5px white;
}

.next-button, .back-button{
  font-weight: bold;
  text-align: center;
  width: 50px;
  height: 50px;
  background-color: #F86F03;
  border: 5px solid black;
  color: #000000;
  box-shadow: 5px 5px 5px gray ;
  font-size: 16px;
  border-radius: 10px;
  margin: 20px
}

.next-button{
  float: right;
}
.back-button{
  float: left;
}

.navigation-wrapper{
  text-align: center;
  width: 100%;
}

.nav-header {
  border: 5px solid black;
  border-radius: 0 0 20px 20px;
  background-clip: padding-box;
  background-color: #525FE1;
  overflow: hidden;
}


.btnPrimary {
  background-color: #525FE1;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #000000;
}
